.wrapper {
  width: 400px;
  height: 640px;
  padding: 16px;
  background-color: #eee;
}

.wrapper .card {
  padding: 16px;
  background-color: #fff;
}

.wrapper .card + .card {
  margin: 16px 0;
}

.wrapper .form-card {
  height: 160px;
}

.wrapper .form-card label {
  display: inline-block;
  width: 80px;
}

.wrapper .form-card .comment-wrapper {
  margin: 16px 0;
}

.wrapper .form-card #username {
  width: calc(100% - 90px)
}

.wrapper .form-card #comment {
  width: calc(100% - 90px);
  height: 80px;
  vertical-align: text-top;
}

.wrapper .form-card .btn {
  float: right;
}

.wrapper .comment-card {
  min-height: 400px;
}

.wrapper .comment-card .comment-list-item {
  min-height: 80px;
}

.wrapper .comment-card .comment-list-item .comment-content {
  min-height: 60px;
}